@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 h-[100dvh]
  }
}
@layer utilities {
  #root {
    height: 100%;
    overflow: auto;
  }
  .appContainer {
    background: url('./assets/bg_top.png') no-repeat top center, url('./assets/bg_bottom.jpg') no-repeat bottom center, #fff;
    background-size: contain;
  }
  .form-group {
    @apply relative
  }
  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900
  }
  .form-control {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 
  }
  .btn {
   @apply text-white bg-teal-500 hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm  sm:w-auto px-5 py-2.5 text-center disabled:bg-teal-500/50
  }
  .hasError {
    @apply text-rose-600 text-xs leading-4 font-medium py-1;
  }
  .actionBtns {
    @apply flex gap-3 absolute right-0 left-0 w-full  bottom-4 z-20 items-center justify-center
  }
  .actionBtns button {
    @apply w-10 h-10 bg-teal-800 rounded-full text-white flex items-center justify-center text-xl shadow-lg
  }
}